@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --spacing-header: var(--header-height);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-warning-400: var(--warning-400);
  --color-confirm-50: var(--confirm-50);
  --color-confirm-600: var(--confirm-600);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-background: var(--sidebar-background);
}

:root {
  --radius: 0.625rem;
  --header-height: 4rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-50: oklch(0.9658 0.0161 262.75);
  --primary-100: oklch(0.9229 0.036858 263.6237);
  --primary-200: oklch(0.8537 0.0721 261.45);
  --primary-300: oklch(0.7765 0.1144 258.01);
  --primary-400: oklch(0.6991 0.162 252.47);
  --primary-500: oklch(0.6219 0.1729 249.32);
  --primary-600: oklch(0.5522 0.153702 249.3501);
  --primary-700: oklch(0.4735 0.1322 249.48);
  --primary-800: oklch(0.3616 0.1016 249.71);
  --primary-900: oklch(0.251 0.069 248.85);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-50: oklch(0.9491 0.0244 278.37);
  --secondary-100: oklch(0.8975 0.049969 276.6655);
  --secondary-200: oklch(0.7966 0.1026 274.09);
  --secondary-300: oklch(0.7036 0.1543 270.21);
  --secondary-400: oklch(0.6047 0.2139 263.32);
  --secondary-500: oklch(0.5009 0.206606 260.2049);
  --secondary-600: oklch(0.395 0.1621 260.11);
  --secondary-700: oklch(0.2962 0.1217 260.13);
  --secondary-800: oklch(0.2465 0.1018 260.22);
  --secondary-900: oklch(0.1918 0.0776 259.85);
  --secondary-foreground: oklch(0.205 0 0);
  --gray-100: oklch(0.9689 0.0025 228.78);
  --gray-200: oklch(0.9296 0.0052 247.88);
  --gray-300: oklch(0.8574 0.0124 247.97);
  --gray-400: oklch(0.7587 0.0212 250.44);
  --gray-500: oklch(0.4152 0.0246 250.69);
  --gray-600: oklch(0.3933 0.0228 250.89);
  --gray-700: oklch(0.2974 0.0161 248.37);
  --gray-800: oklch(0.2331 0.0114 254.06);
  --gray-900: oklch(0.1676 0.0071 258.37);
  --warning-400: oklch(0.7253 0.1487 84.71);
  --confirm-50: oklch(0.9342 0.0347 146.62);
  --confirm-600: oklch(0.6731 0.1624 144.21);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --primary-500: red;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-gray-900;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  .container {
    @media (min-width: 321px) {
      @apply px-4;
    }
    @apply !mx-auto;
  }

  .scroll-container {
    @apply h-full w-full overflow-hidden pb-4;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  .bouncing-animation {
    animation: bouncing 0.5s ease-in-out infinite;
  }

  @keyframes bouncing {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
}

.TextEditorContainer {
  width: 99%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.TextEditorContainer .ck-content {
  line-height: 1.6;
  word-break: break-word;
  min-height: 200px;
}
.TextEditorContainer .ck-content ul,
.TextEditorContainer .ck-content ol {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.TextEditorContainer .ck-content ul li,
.TextEditorContainer .ck-content ol li {
  list-style: unset;
}
.TextEditorContainer .ck-content ul {
  list-style-type: disc;
}
.TextEditorContainer .ck-content ol {
  list-style-type: decimal;
}
.TextEditorContainer .ck.ck-powered-by {
  display: none !important;
}

.EditorContainer.padding {
  padding: 0.5rem;
}
.EditorContainer.ck-content {
  word-break: break-word;
}
.EditorContainer.ck-content figure {
  margin: auto;
  margin-block: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.EditorContainer.ck-content figure img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.EditorContainer ul,
.EditorContainer ol {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.EditorContainer ul li,
.EditorContainer ol li {
  list-style: unset !important;
}
.EditorContainer ul {
  list-style-type: disc !important;
}
.EditorContainer ol {
  list-style-type: decimal !important;
}

.quick-guide {
  @apply relative mx-auto aspect-video max-w-4xl rounded-2xl bg-black/20 bg-[url('/image/quick_guid_bg.jpg')] bg-cover bg-fixed bg-center bg-no-repeat bg-blend-overlay md:aspect-[16/6];
}

.quick-guide-button {
  @apply bg-background absolute right-0 bottom-0 rounded-ss-xl;
}

.quick-guide-button > div::after,
.quick-guide-button > div::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
}

.quick-guide-button > div::before {
  top: -24px;
  right: 0;
  box-shadow: 5px 2px 0 0px rgb(255, 255, 255);
  border-end-end-radius: 12px;
}

.quick-guide-button > div::after {
  bottom: 0px;
  left: -24px;
  box-shadow: 5px 2px 0 0px rgb(255, 255, 255);
  border-end-end-radius: 12px;
}

span:has(img.reset) {
  @apply h-auto w-auto;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
